body{
    margin: 0;
    background-color: #666;
}
#paper{
    display: block;
    width: 700px;
    height: 500px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    box-shadow: 0 0 50px;
    cursor: crosshair;
}
#toolbar{
    width: 600px;
    height: 30px;
    border: 5px solid #222;
    background-color: #222;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 4px 12px;
    -webkit-transition: top 0.5s;
}
.tool{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: auto 5px;
    -webkit-transition: background-position 0.25s ease-in-out;
    background: url('../images/icons.png');
}
#lineWidth{
    width: 60px;
}
.tool:hover{
    filter: drop-shadow( 1px 1px 2px #F00 );
}
#move{
    background-position: -30px 0;
}
#free{
    background-position: 0 -30px;
}
#line{
    background-position: 0 -60px;
}
#rect{
    background-position: 0 -90px;
}
#circle{
    background-position: 0 -120px;
}
#undo{
    background-position: 0 -150px;
}
#redo{
    background-position: -30px -150px;
}
#erase{
    background-position: 0 -180px;
}
#color{
    background-position: 0 -210px;
}
#save{
    background-position: -30px -210px;
}

input[type="color"] {
	border: none;
	width: 30px;
	height: 30px;
    outline: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 15px;
}